* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-image:linear-gradient(to right,yellow,red);
color: #333;
}

.search-container {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 350px auto 0;
  border-radius: 1px;
  border:1px solid red;
 }

.search-row{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input {
 flex: 1;
 height: 40px;
 background: transparent;
 border: 0;
 outline: 0;
 font-size: 18px;
 color: black;
}

::placeholder{
  color: darkslategray;
}

.suggestions ul {
  border-top: 1px solid grey;
  padding: 15px 10px
}

.suggestions ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.suggestions ul li:hover {
  background-color: rgb(237, 241, 235);
}

